@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Lemon&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Lemon&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
.block1{
    animation: appear 5s linear;
}

.block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


.container {
    /* 484c1d */
    background: linear-gradient(
        to right,
        #0E9A6F 0%,
        
        #0F5E7D 100%

    );
    /*
    background: linear-gradient(45deg, blue, #04f450, darkblue, yellow);
    background-size: 300% 300%;
    animation: color 20s ease-in-out infinite;
}

@keyframes color{
    0%{
        background-position: 0 25%;

    }
    50%{
        background-position: 50% 75%;
        
    }
    100%{
        background-position: 0% 50%;
        
    } 
    */
} 


li, a, button{
    font-family: "Orbitron", sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: #F9ED24;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #000;
}


.logo {
    
    max-width: 250px;

}

.logo:hover {
    color: black;

}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;

}

.nav__links li a {
    transition: all 0.3s ease 0s;

}

.nav__links li a:hover {
    color: #F9ED24;
}

button {
    color: black;
    padding: 9px 25px;
    background-color: #F9ED24;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #DE3293;
}
/* 
.hero-content{
} */

.hero-section {
    width: 100%;
    background-repeat: no-repeat;
    background-size: color;
    padding: 25px 150px;

}

h1 {
    /* color: #00ffc8; */
    color: #F9ED24;
    font-size: 80px;
    font-family: "Orbitron";
    font-weight: 900;

}

h2 {
    font-size: 60px;
    color: #000;
    font-family: "Orbitron";
    font-weight: 900;
}
p {
    font-weight: 900;
    color: #F9ED24;
    font-family: Montserrat;
    font-size: 24px;
}

span {
    color: black;

}

.hero-section2 {
    max-width: 50px;
}

.price {
    display: flex;
    align-items: flex-end;

}
.circle 
{

}

.build {
    width: 100%;
    background-repeat: no-repeat;
    padding: 25px 150px;
    
}
.buildcontent {
    text-align: center;
}

.products {
    padding: 25px 150px;
    
}

.Productcontent {
    padding-top: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.card {

    text-align: center;
}

h4{
    font-size: 30px;

    font-family: "ORBITRON";
    font-weight: 900;
}

.cost {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.square {
    text-align: center;
    width: 200px;
    height: 200px;
}

.savings {

    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.month {
    text-align: center;
    
}

.photos {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

/*
.circle {
    background-color: black;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding-top: 20px;
    padding-right: 40px;
    float: right;
    position: relative;
}
.circlecontent{
    position: absolute;
    background-color:black;
    top: 50%;
    transform:translateY(-50%);
    width: inherit;
    height: auto;

}

.circlecontent span{
    background-color:black;
    

}
*/

